<?xml version="1.0"?>
<robot name="cuboid_eraser_v7006">

  <link name="cuboid_eraser_v7006">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09735415508365283 0.05588195738207838 0.06037158029881409"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09735415508365283 0.05588195738207838 0.06037158029881409"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.04917707754182642 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.04917707754182642 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
