<?xml version="1.0"?>
<robot name="cuboid_eraser_v7002">

  <link name="cuboid_eraser_v7002">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1237290247084687 0.031882918168029864 0.06263905648159564"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1237290247084687 0.031882918168029864 0.06263905648159564"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.06236451235423435 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.06236451235423435 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
