<?xml version="1.0"?>
<robot name="cuboid_eraser_v7009">

  <link name="cuboid_eraser_v7009">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12607048080965266 0.049760642020668586 0.03961845464608971"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12607048080965266 0.049760642020668586 0.03961845464608971"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.06353524040482633 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.06353524040482633 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
