<?xml version="1.0"?>
<robot name="cuboid_eraser_v7015">

  <link name="cuboid_eraser_v7015">
    <!-- Handle -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1417597439018396 0.031754855844032974 0.036267136525833854"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1417597439018396 0.031754855844032974 0.036267136525833854"/>
      </geometry>
    </collision>

    <!-- Head -->
    <visual>
      <origin xyz="0.0713798719509198 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="material">
        <color rgba="0.639 0.847 0.882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0713798719509198 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>

</robot>
